body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    
}
h1 {
    font-family:sans-serif ;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.5;
    color: white;
    text-align: left;
    margin-left: 90px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(95, 16, 126), white);
}

.red-block {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.blue-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.blue-block_inner {
    background-color: rgb(171, 125, 208);
    border-radius: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 70%;
    width: 70%;
}

.infos {
    flex: 1;
    display: flex;
    align-items: center;
    
}

.infos_inner{
    
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infos_inner_inner {

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 80%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main {
    display: flex;
    flex: 5;
    justify-content: center;
    align-items: center;
    display:flex;
}

.inner_main{
    height: 90%;
    width: 70%;
    justify-content: center;
    align-items: center;
    display:flex;
}

#missions_container {
    flex:3;
    justify-content: center;
    align-items: center;
    display:flex;
    margin: 0px;
    height: 90%;
    width: 80%;
    
}

#missions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 80%;
}

#missions_inner {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    height: 95%;
    width: 950%;
}

.battle_options {
    flex:2;
    border-style: solid;
    border-width: medium;
    margin: 50px;
}

.other_options {
    flex:1;
    border-style: solid;
    border-width: medium;
    margin: 50px;
    background-color: rgb(109, 3, 121);
}

.blue_block_button{
    flex:1;
    justify-content: center;
    align-items: center;
    display:flex;
    height: 100%;
}

.blue_block_button_inner {
    cursor:pointer;
    border-radius: 8px;
    height: 30%;
    width: 30%;
    justify-content: center;
    align-items: center;
    display:flex;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}