.mission {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission_container {
    display: flex;
    height: 90px;
    width: 450px;
    background-image: linear-gradient(to bottom, rgb(14, 217, 253), white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.mission_info {
    flex:2;
    margin:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(255, 233, 35), white);
}

.mission_difficulty{
    flex:1;
    margin:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_difficulty{
    width: 90%;
}

.mission_type{
    flex:1;
    margin:8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(249, 249, 249);
}