.mission {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission_container {
    display: flex;
    height: 120px;
    width: 750px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.mission_info {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.mission_difficulty{
    flex:1;
    margin:14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_difficulty{
    width: 50%;
}

.mission_type{
    flex:1;
    margin:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}