.mission {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission_container {

    display: flex;
    height: 120px;
    width: 750px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.mission_info {
    transition: transform 0.2s ease;
    cursor: pointer;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border:3px solid rgb(56, 55, 55);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.mission_info:hover{
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);}


.mission_difficulty{
    flex:1;
    margin:14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_difficulty{
    width: 50%;
}

.mission_type{
    flex:1;
    margin:8px;
    display: flex;
    justify-content: center;
    align-items: center;
}