body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, rgb(86, 13, 114), white);
    transition: opacity 0.5s ease;
    
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.back_button{
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_button_inner{
    width: 40%;
    height: 60%;
    font-weight: bold;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.options{
    flex:1;
    display: flex;
    align-items: center;
}

.main{
    flex:3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_inner{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hatch_button{
    flex:2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hatch_button_inner{
    height: 30%;
    width: 30%;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    box-shadow: 0px 0px 10px rgba(226, 49, 238, 0.5);
    cursor:pointer;
}

.hatch_image{
    flex:4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hatch_image_inner{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hatch_img{
    width: 30%;
    height: 90%;
}

.main_text{
    flex:1;
    width: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(224, 100, 233, 0.5);
}

.main_text_inner{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options_space{
    flex:5;
}

.balance_option{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.balance_option_1{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance_option_2{
    flex:1;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}