body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 55px;
    line-height: 1.5;
    color: white;
    text-align: left;
    margin-left: 90px;
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    
}

h3 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding: 0;
    text-align: left;
}

h4{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size:25px;
    padding: 0;
    text-align: left;
    line-height: 1.0;

}

.sezione1 {
    font-family: sans-serif;
    line-height: 1.0;
    background-image: url('/images/sfondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    text-align: left;
    padding: 20px;
}
    .sezione1 p {
        margin-left: 90px;
        line-height:1.25;
        font-size:25px;
    }

button {
    margin-top: 50px;
    margin-left: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    text-decoration:none;
    cursor: pointer;
    border: 3px solid;
    color: white;
    background-color: dimgrey;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;

}

.sezione2 {
    display:flex;
    background-color: white;
    height: 300px;
    width: auto;
}
.q {
    width: 27%; 
    height: 150px;
    background-color: white;
    color: dimgray; 
    text-align: center; 
    margin-right: 10px; 
    float: left;
    line-height:1.25;
    padding:30px; 
}


.sezione3 {
    background-color: #000;
    height: 250px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    color: white;
   
}

    .sezione3 img {
    height:200px;
    width:200px;

    }

    .sezione4{
        font-family:sans-serif ;
        line-height: 1.0;
        text-align: left;
        display: flex;
    }
    
    .boxes{
       width: 50%;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        
    }
    .box {
        width: 250px;
        height: 170px;
        padding: 30px;
        background-color: rgb(103, 78, 124); 
        box-shadow: 0px 0px 10px rgba(225, 170, 217, 0.5);
        border: 5px solid #2f0061;
        color: #ffffff; 
        text-align: center;
        font-size: 12px;
        display: flex;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        margin: 50px; 
        margin-left:100px;
        float: left;
    }

    .buttons{
        float:right;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    
    

#goButton {
    top:10px;
    right: 20px;
    padding: 20px 20px;
    align-self: center;
    margin: 10px auto;
    margin-top: 30px;
    margin-left: 200px;
    background-color: #69a5f4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(127, 181, 232, 0.5);
}

#profilo {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    cursor:pointer;
}

#menuTendina {
    display: none;
    width: 150px;
    background-color: rgb(144, 92, 239);
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px rgba(81, 62, 229, 0.1);
}

#menuTendina li {
    padding: 10px;
    cursor: pointer;
}


.myaether {
    width: 95%;
    margin: 20px auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 8px;
    border: 5px solid #ccc;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px rgba(225, 170, 217, 0.5);
  }

  .character {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(225, 170, 217, 0.5);
  }

  .character img {
    width: 100%;
    height: auto;
    cursor:pointer;
  }

  .modal-body{
    display: flex;
    flex-direction: column;
    color:#000;
    text-align: center;
  }

  .modal-body .character{
    margin: auto;
  }

  a {
    color: white; 
    text-decoration: none;
  }

  .learn{ 
    margin-top: 90px;
        margin-left: 90px;
        margin-right: 90px;
        line-height:1.25;
        font-size:18px;
        text-align:center;

  }