<HTML>
<head>
    <title>Aethermon</title>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!--our connection to the blockchain-->
    
    <script src="/javascript/index.js"></script>
</head>



<BODY>
<div class="sezione1">

    <IMG SRC="/images/logo1.png" HEIGHT=150 WIDTH=330 ALIGN=TEXTTOP >

    <H1> Unleash the Power of <br> Digital Collectibles</H1>
    <p> Embark on a thrilling journey into the world of <br> Aethermon, where blockchain technology meets <br>the excitement of collectible gaming and AI </p>

   <button id="connectButton" onclick="connect()">GET STARTED</button>
   <button id="learnmoreButton"> <a href="#learnmore">LEARN MORE</a></button>
</div>


    <div class="sezione2">
        <div class="q">
            <strong>Unique Collectible</strong> 
       <p> Aethermon introduces a groundbreaking blockchain platform for AI generated NFT exchange, with boasting unique and distinct attributes.</p>
        </div>

        <div class="q">
            <strong>Integrated Marketplace</strong>
            <p> Users can explore a vibrant marketplace filled with diverse collectibles, creating a thriving economy around these unique digital assets. The platform employs a specially designed fungible token that serves as the primary medium for transactions.</p>
        </div>

        <div class="q">
            <strong>Mission-driven gameplay</strong>
            <p> Elevating the NFT experience beyond static ownership, Aethermon introduces an innovative gameplay element. Coollectibles can embark on mission, in a dynamic and interactive way.</p>
        </div>
     </div>

    <div class="sezione3">

        <br>
        <br>
        <img src="/images/mostro1.png" border="0" align="LEFT">
        <img src="/images/mostro2.png" border="0" align="RIGHT">

        <h2><strong>Elevate Your Digital Experience</strong></h2>
        <p>
            Own a piece of the Aethermon universe and unlock a dynamic collecting experience. As proud owners of these AI-generated digital companions, collectors engage in a world of possibilities-trade with fellow enthusiasts, showcase your collection and watch as your NFTs evolve through interactive gameplay.
        </p>
    </div>

    <div id="learnmore" class="sezione2">
        <div class="learn">
         <p>The concept for our DApp game emerged from a collaborative exploration of innovative and decentralized technologies. <br>
             Recognizing the growing interest in blockchain and smart contract platforms, we envisioned a game that leverages these technologies 
             to provide players with a transparent, secure, and immersive gaming experience.
             The idea was born out of a desire to redefine the gaming industry by introducing decentralized elements, enabling players to have true ownership of in-game assets and fostering a community-driven ecosystem.
              Our DApp game aims to combine entertainment with the benefits of blockchain, creating a unique and engaging experience for players in the decentralized 
              gaming space.<br> Create your own monsters or acquire new ones to win your battles. <br> <strong>Welcome to the fantastic world of Aethermon!</p>
        </strong>
        </div>
     </div>

</BODY>
</HTML>

