<html>
<head>
    <title>Aethermon</title>
    <script src="https://cdn.jsdelivr.net/npm/web3@1.3.0/dist/web3.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="stylesheet/market.css">
    <script src="/javascript/index.js"></script>
    <script src="/javascript/market.js"></script>

    
</head>

<body style=" background-image: url('sfondo.png');">
     <h1>Aethermon Marketplace</h1>

     <button id="sellButton" onclick="sellWind()">I want to sell!</button>

     <div id="products" class="product-container">
       <!-- Prodotto 1 -->
       <div class="product" onclick="showProductDetails('Prodotto 1', 'Descrizione del prodotto 1', 'Prezzo: $20.00','immagine_prodotto1.jpg')">
        <img src="immagine_prodotto1.jpg" alt="Prodotto 1">
        <h2>Prodotto 1</h2>
        <p>Descrizione del prodotto 1</p>
        <p>Prezzo: $20.00</p>
        </div>
        <!-- Prodotto 2 -->
        <div class="product" onclick="showProductDetails('Prodotto 2', 'Descrizione del prodotto 2', 'Prezzo: $25.00','immagine_prodotto2.jpg')">
            <img src="immagine_prodotto2.jpg" alt="Prodotto 2">
            <h2>Prodotto 2</h2>
            <p>Descrizione del prodotto 2</p>
            <p>Prezzo: $25.00</p>
        </div>
         <!-- Prodotto 3 -->
         <div class="product" onclick="showProductDetails('Prodotto 2', 'Descrizione del prodotto 2', 'Prezzo: $25.00','immagine_prodotto2.jpg')">
            <img src="immagine_prodotto2.jpg" alt="Prodotto 2">
            <h2>Prodotto 3</h2>
            <p>Descrizione del prodotto 2</p>
            <p>Prezzo: $25.00</p>
        </div>
    </div>

    <dialog id="myModal" class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle"></h2>
        <img id="modalImage" src="" alt="Immagine del prodotto">
        <p id="modalDescription"></p>
        <p id="modalPrice"></p>
        <button onclick="sureToBuy()">Buy</button>
    </dialog>

    <dialog id="confirmModal" class="confirmModal-content">
    <p> Are you sure you want to buy it?</p>
    <button onclick=closeModal()>NO</button>
    <button onclick="">YES</button>
    </dialog>

    <dialog id="sellModal" class="modal-content">
        
        
    </dialog>

</body>

</html>
