<!DOCTYPE html>
<html>
<head>
  <title>Aethermon - Create</title>
  <link rel="shortcut icon" href="/images/mini_logo.ico" />
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="./javascript/monster_creation.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/monster_creation/monster_creation.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/monster_creation/popup_yes.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/general/popup_loading.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/general/popup_error.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/monster_creation/animations.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/monster_creation/popup_new_monster.css">
</head>
<body>
    <div id =start_overlay>
        <div id="popup_start">
            <div id="popup_start_message">
                REALLY WANT TO HATCH AETHERMON?
            </div>
            <div id="popup_start_buttons">
                <div id="popup_accept_button">
                    <div id="popup_accept_button_inner">
                        YES
                    </div>
                </div>
                <div id="popup_decline_button">
                    <div onclick="back_on_transaction()" id="popup_decline_button_inner">
                        NO
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    <div id =error_overlay>
        <div id="popup_error">
            <div id="popup_error_message">
                Not enough AetherCoin (ÆC)
            </div>
            <div id="popup_error_buttons">
                <div id="popup_accept_button">
                    <div onclick="error_back()" id="popup_accept_button_inner">
                        OK
                    </div>
                </div>
                </div>
            </div>
    
        </div>
    </div>
    <div id =loading_overlay>
        <div id="popup_loading">
            <div id="popup_loading_message">
                LOADING...
            </div>
            <div id="popup_loading_image">
                <img src="images/general/loading.gif" id="popup_loading_gif">
            </div>
        </div>
    </div>
    <div id="spark_container">
        <img id="spark_img" src="images/hatching/glowing_ball.gif" alt="Immagine">
      </div>
    <div id =new_monster_overlay>
        <div id="popup_new_monster">
            <div id="popup_new_monster_message">
                This is your new Aethermon!
            </div>
            <div id ="popup_new_monster_image">
                <img id="popup_new_monster_img">
            </div>
                <div id="popup_new_monster_button">
                    <div onclick="new_monster_back()" id="popup_new_monster_button_inner">
                        OK
                    </div>
                </div>
            </div>
    
        </div>
    </div>
  <div class ="container">
    <div class="options">
        <div class="back_button">
            <div class="back_button_inner" onclick="go_back()"> BACK </div>     
        </div>
        <div class="options_space"> </div>
        <div class="balance_option">   
            <div class=" balance_option_1"><span id="balance">mybalance</span></div>
            <div class=" balance_option_2"><h2>ÆC <br></h2></div> 
        </div>
        
    </div>
    <div class ="main">
        <div class="main_inner">
            <div class="main_text">
                <div class="main_text_inner">
                    HATCH THE EGG!
    
                </div>

            </div>
        <div class="hatch_image">
                <div class="hatch_image_inner">
                    <img src="images/hatching/hatching_egg.gif" class="hatch_img">
            </div>
        </div>
        <div class="hatch_button">
            <div onclick="popup_hatch_confirm()" class="hatch_button_inner">
                HATCH (100ÆC)!
            </div>
        </div>
        </div>
    </div>
  </div>
</body>
</html>