body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Sans Serif Collection';
    font-weight: bold;
    font-size: 55px;
    line-height: 1.5;
    color: white;
    text-align: left;
    margin-left: 90px;
}

h2 {
    font-family: 'Sans Serif Collection';
    font-weight: bold;
    color: white;
    padding: 0;
    text-align: center;
    line-height: 1.5;
}

button {
    margin-top: 50px;
    margin-left: 100px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    text-decoration:none;
    cursor: pointer;
    border: 3px solid;
    color: white;
    background-color: dimgrey;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;

}

#sellButton{
    padding: 20px 30px;
    background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 18px;
            text-align: center; 
    position: absolute;
    top: 10px; /* Imposta la distanza dalla cima della pagina */
    right: 50px; 
}
.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: space-around;
    margin: 20px;
}

  .product{
    border: 1px solid #ccc;
    margin: 10px;
    width: 100%;
    text-align: center;
    background-color: grey;
    cursor:pointer;
}

  .product img {
    max-width: 100%;
    max-height: 100px; 
    margin-bottom: 10px;
    border-radius: 20px;
  }

  #myModal {
   display: none;
    position: fixed; 
    top: 50%; 
    left: 40%; 
    transform: translate(-50%, -50%); 

  
}

.modal-content {
   padding: 200px;
    background-color:grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin:0 auto;
    position: absolute;
    z-index:1;
}

#modalImage {
    max-width: 100%;
    max-height: 300px; /* Altezza massima dell'immagine nella modal */
    margin-bottom: 20px;
}

/* Stili per il bottone di chiusura della modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.confirmModal{
    display: none;
    position: fixed; 
    transform: translate(-50%, -50%); 
    width: 50vw;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
   
}

.confirmModal-content{
    top: 20%;  
    padding: 80px;
    background-color:grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin:0 auto;
    position: absolute;
    z-index: 2;
}